<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.usts.cs2018.dao.mapper.PlanMapper" >

    <resultMap type="cn.edu.usts.cs2018.entity.Plan" id="PlanMap">
        <id property="id" column="id"></id>
        <result property="amount" column="amount"></result>
        <result property="spec" column="spec"></result>
    </resultMap>


    <insert id="insert" parameterType="cn.edu.usts.cs2018.entity.Plan" keyProperty="id">
        <choose>
            <when test="id ==0">
                insert into plan(amount,spec)
                values (#{amount},#{spec});

            </when>
            <when test="id!=0">
                insert into plan(id,amount,spec)
                values (#{id},#{amount},#{spec});

            </when>
        </choose>

    </insert>

    <update id="update" parameterType="cn.edu.usts.cs2018.entity.Plan">
        update plan
            set amount=#{amount},spec=#{spec}
            where id=#{id};
    </update>

    <delete id="delete" parameterType="int">
        delete from plan where id=#{id};
    </delete>

    <select id="getPlan" parameterType="Integer" resultMap="PlanMap">
        select *from plan where id=#{id}
    </select>

    <select id="getPlans" resultMap="PlanMap">
        select * from plan;
    </select>
</mapper>
